.top-nav-item {
    margin-right: 2em;
}

.content-section {
padding-top: 100px;
}

.small-icon-img {
    width: 1em;
    position: relative;
}

.nav-logo-img-md {
max-width: 19em; 
position: relative;
left: -35px;
display: none;
}

.nav-logo-img-sm {
    max-width: 17em; 
    position: relative;
}

@media (min-width: 992px) {
    .nav-logo-img-md {
        display: block;
    }

    .nav-logo-img-sm {
        display: none;
    }

    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: white; /* Set your desired text color */
}

#homepageNavBar {
    position: absolute;
    width: 100%;
    z-index: 999;
}

#homepageCarousel {
    height: auto; /* Set the maximum height for the carousel */
    width: auto;
    max-height: 600px;
    overflow: hidden; /* Hide overflow to ensure consistent size */
    position: absolute;
    top: 0;
    z-index: -1;
}

.carousel-inner {
    height: auto;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: auto;
    object-position: center;  /* You can adjust this based on your preference */
}

#homepageCarousel .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 1; /* Place the overlay behind the text box */
}

#textOverlay {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Place the text box above the carousel items */
    color: white;
}

body{
    overflow-x: hidden;
}

.icon-to-image {
    max-width: 10rem;
}

@media (max-width: 991px) {
    .icon-to-image {
        width: 6rem;
        margin: auto;
    }
}

.card-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the color and opacity as needed */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 42, 109, 0.7);
    z-index: 0;
    border-radius: 5px; /* Adjust the border-radius as needed */
}

@media (max-width: 576px) {

    .sectorCard {
        height: 280px;
    }

    .card-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }
}

.sectorCard {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}


.btn-outline-secondary {
    color: #f66a31;
    border-color: #f66a31;
}

.btn-outline-secondary:hover {
    color: #fff; /* Change text color on hover if needed */
    background-color: #f66a31;
    border-color: #f66a31;
}

.bg-lightgray {
    background-color: lightgray;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-shadow: inset 0px 15px 10px #888, inset 0px -15px 10px #888;
}

li {
    list-style-type: none;
    position: relative;
    padding-left: 15px;
  }
  
  .solutions-list::before {
    content: "\25BA \0020";
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: -10px;
  }